


p {
  color: #f1c40f;
  font-size: 1.2rem;
  width: 100%;
  padding: 20px;
  text-align: center;
}

.btn {
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  font-size: 10px;
  font-weight: 400;
  line-height: 1;
  margin: 5px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.btn:hover, .btn:focus {
  color: #fff;
  outline: 0;
}

.hoverEffect {
  border-color: #e22901;
  color: #fff;
  box-shadow: 0 0 40px 40px #e22901 inset, 0 0 0 0 #e22901;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.hoverEffect:hover {
  box-shadow: 0 0 10px 0 #e22901 inset, 0 0 10px 4px #e22901;
  color: #000;
}

.delete {
  border-color: #63000f;
  color: #000;
  
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.delete:hover {
  box-shadow: 0 0 10px 0 #63000f inset, 0 0 10px 4px #63000f;
  color: #000;
}

.connect {
  border-color: green;
  color: #000;
  
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.connect:hover {
  box-shadow: 0 0 10px 0 #00FF00 inset, 0 0 10px 4px #00FF00;
  color: #000;
}



